{:lib      io.github.hive-agi/hive-rss
 :minor    1
 :license  {:name "MIT" :url "https://opensource.org/licenses/MIT"}
 :scm-url  "https://github.com/hive-agi/hive-rss"
 :src-dirs ["src" "resources"]
 :publish  :clojars}
